#!/usr/bin/make -f
# -*- makefile -*-

export DH_GOPKG := github.com/BurntSushi/graphics-go
export DH_GOLANG_EXCLUDES := ${DH_GOPKG}/testdata
export DEB_BUILD_OPTIONS := nocheck

%:
	dh $@ --buildsystem=golang --with=golang
